<!DOCTYPE html>
<html>
    <head>
        <title>Calculated Result</title>
    </head>
    <body>
      <h1>Calculated Price</h1>
      <div>
        <%= price %>
      </div>
    </body>
</html>
