<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

  <div class="jumbotron text-center">
    <div class="container">
      </a>
      <h1>Postal Rate Calculator </h1>
      <form>
        <label for"weight">Weight: </label>
        <font color="black"><input type="number" id="weight" name="weight"/></font>
        <label for="mailType">Choose type of mail:</label>

        <font color="black"><select id="mailType">
          <option value="default">choose option</option>
          <option value="lettersStamped">Stamped Letters</option>
          <option value="lettersMetered">Metered Letters</option>
          <option value="largeEnvelopes">Large Envelopes (Flalts)</option>
          <option value="first-classPackage">First-Class Package Service</option>
          </select></font>
      </form>

</body>
</html>
